In [27]:
import pandas as pd

In [28]:
df = pd.read_csv("D:/Workspace/Project_fashion/conv.csv", header = None, encoding = 'CP949')

In [29]:
df

                           0
0            - - 봄 옷 안 들어와요?
1                  - 내일 들어와요
2            - - 이거 할인 해주세요?
3          - 네 그 가격표에서 반값이에요
4     - - 이런 거는 사이즈가 어떻게 돼요?
...                      ...
5864     - - 수선 끝나면 연락 부탁드려요
5865       - - 신상품은 언제 들어와요?
5866      - - 신상 아직 안 들어왔어요?
5867        - - 신상은 언제쯤 나와요?
5868      - - 신제품 나오려면 멀었어요?

[5869 rows x 1 columns]

In [30]:
# 컬럼명 변경
df.rename(columns = {df.columns[0]:'conversation'},inplace = True)

In [31]:
df['conversation'] = df['conversation'].str.lstrip('- - ')

In [32]:
df

            conversation
0            봄 옷 안 들어와요?
1                내일 들어와요
2            이거 할인 해주세요?
3        네 그 가격표에서 반값이에요
4     이런 거는 사이즈가 어떻게 돼요?
...                  ...
5864     수선 끝나면 연락 부탁드려요
5865       신상품은 언제 들어와요?
5866      신상 아직 안 들어왔어요?
5867        신상은 언제쯤 나와요?
5868      신제품 나오려면 멀었어요?

[5869 rows x 1 columns]

In [33]:
import re

In [34]:
conversation = df.replace('["]', '')

In [35]:
conversation

            conversation
0            봄 옷 안 들어와요?
1                내일 들어와요
2            이거 할인 해주세요?
3        네 그 가격표에서 반값이에요
4     이런 거는 사이즈가 어떻게 돼요?
...                  ...
5864     수선 끝나면 연락 부탁드려요
5865       신상품은 언제 들어와요?
5866      신상 아직 안 들어왔어요?
5867        신상은 언제쯤 나와요?
5868      신제품 나오려면 멀었어요?

[5869 rows x 1 columns]

In [36]:
conversation.to_csv('gg.csv',encoding="euc-kr")