In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("D:/Workspace/Project_fashion/conv.csv", header = None, encoding = 'CP949')

In [4]:
df

                           0
0            - - 봄 옷 안 들어와요?
1                  - 내일 들어와요
2            - - 이거 할인 해주세요?
3          - 네 그 가격표에서 반값이에요
4     - - 이런 거는 사이즈가 어떻게 돼요?
...                      ...
5864     - - 수선 끝나면 연락 부탁드려요
5865       - - 신상품은 언제 들어와요?
5866      - - 신상 아직 안 들어왔어요?
5867        - - 신상은 언제쯤 나와요?
5868      - - 신제품 나오려면 멀었어요?

[5869 rows x 1 columns]

#### 질문 중에서 결제, 할인, 색, 사이즈, 옷종류에 해당하는 질문을 골라 그 질문에 해당하는 답까지 포함하는 파일만들기

In [5]:
df1 = df.loc[df[0].str.contains('- -')]

In [6]:
a = ['현금', '카드', '삼성페이', '카카오페이', '현찰', '계좌이체', '할부', '상품권', '결제', 
     '색', '컬러', '네이비', '블랙', '레드', 
     '사이즈', '라지', 
     '옷', '종류', '원피스', '조끼', '코트', '청바지', '블라우스','니트', '패딩', '잠옷', '히트텍', '복', '귀걸이', '파카', '바지', '코트', '티', '정장', '치마', '셔츠', '남방', '잠바', '재킷', '후드', '모자', '가방', '레깅스', '스웨터','스카프', '점퍼', '양말', '맨투맨', '타이', '운동', '바람', '머플러', '메리야스', '슬랙스', '스커트', '양복', '마이', '목도리', '디건']

In [7]:
df2 = df1.loc[df1[0].str.contains('현금|카드|삼성페이|카카오페이|현찰|계좌이체|할부|상품권|결제|색|컬러|네이비|블랙|레드|사이즈|라지|종류|원피스|조끼|코트|청바지|블라우스|니트|패딩|잠옷|히트텍|복|귀걸이|파카|바지|코트|티|정장|치마|셔츠|남방|잠바|재킷|후드|모자|가방|레깅스|스웨터|스카프|점퍼|양말|맨투맨|타이|운동|바람|머플러|메리야스|슬랙스|스커트|양복|마이|목도리|디건')]

In [8]:
df2

                                         0
4                   - - 이런 거는 사이즈가 어떻게 돼요?
8                      - - 티는 여기 있는 게 다예요?
10                 - - 이게 숫자 적힌 게 사이즈입니까?
12                        - - 제 사이즈는 얼만데요?
22                        - - 면바지 종류는 있어요?
...                                    ...
5830          - - 스웨터 올이 풀려 있어서 입을 수가 없잖아요
5831  - - 흰색 티셔츠에 얼룩이 있는데 이런 걸 판매하시면 어떡해요?
5849                  - - 이 티셔츠 예약할 수 있어요?
5851            - - 색깔이 맘에 안 들어서 반품하고 싶은데요
5854       - - 노란색이 더 맘에 들어서요 교환 좀 해주시겠어요?

[1451 rows x 1 columns]

In [9]:
'- -'로 시작하는 행 중에 '할인'이 들어있으면 그 다음 '- -'로 시작하는 행의 바로 전까지 모두 추출

SyntaxError: invalid syntax (<ipython-input-9-30b480fc3c50>, line 1)

In [92]:
df.loc[(df[0].str.startswith('- -')) & (df[0].str.contains('할인'))]

                                       0
2                        - - 이거 할인 해주세요?
165   - - 이 제품은 할인 상품이기 때문에 현금으로 계산해 주세요
244           - - 적립되는 카드나 할인되는 카드가 있나요?
254        - - 이거는 지금 이 가격에서 할인이 되는 거예요?
322                        - - 이거는 할인해요?
...                                  ...
5670                  - - 할인 코너는 따로 없어요?
5671               - - 할인 코너는 어느 쪽에 있나요?
5693                 - - 이거는 왜 할인하는 거예요?
5694               - - 이월 상품이라 할인하는 건가요?
5695              - - 신상품인 거 같은데 왜 할인해요?

[68 rows x 1 columns]

In [94]:
num = df[(df[0].str.startswith('- -')) & (df[0].str.contains('할인'))].index.values

In [95]:
num

array([   2,  165,  244,  254,  322,  348,  533,  841,  947, 1134, 1190,
       1302, 1308, 1320, 1374, 1467, 1719, 1736, 1766, 1991, 1999, 2133,
       2233, 2235, 2237, 2239, 2399, 2441, 2443, 2705, 2739, 2849, 2915,
       3167, 3175, 3239, 3389, 3799, 3817, 3827, 3857, 3998, 4058, 4064,
       4066, 4078, 4118, 4168, 4182, 4427, 4553, 4871, 4905, 4925, 4933,
       4935, 5059, 5299, 5301, 5405, 5495, 5668, 5669, 5670, 5671, 5693,
       5694, 5695], dtype=int64)

In [97]:
for i in num:
    b = df.loc[num+1]
b

                                     0
3                    - 네 그 가격표에서 반값이에요
166                          - 현찰은 없어요
245     - 카드마다 다른데요 매장 자체적으로 5%까지 해드려요
255   - 원래는 27만 원인데 13만 5천 원으로 할인된 거예요
323                      - 여기는 할인 아니고요
...                                ...
5671             - - 할인 코너는 어느 쪽에 있나요?
5672                  - - 영업은 매일 하시나요?
5694             - - 이월 상품이라 할인하는 건가요?
5695            - - 신상품인 거 같은데 왜 할인해요?
5696             - - 이거는 왜 싸게 파시는 거예요?

[68 rows x 1 columns]

In [98]:
for i in num:
    a = df.loc[(df[0].str.startswith('- -')) & (df[0].str.contains('할인'))]
    b = df.loc[num+1]
c = pd.concat([a,b])
c

                                       0
2                        - - 이거 할인 해주세요?
165   - - 이 제품은 할인 상품이기 때문에 현금으로 계산해 주세요
244           - - 적립되는 카드나 할인되는 카드가 있나요?
254        - - 이거는 지금 이 가격에서 할인이 되는 거예요?
322                        - - 이거는 할인해요?
...                                  ...
5671               - - 할인 코너는 어느 쪽에 있나요?
5672                    - - 영업은 매일 하시나요?
5694               - - 이월 상품이라 할인하는 건가요?
5695              - - 신상품인 거 같은데 왜 할인해요?
5696               - - 이거는 왜 싸게 파시는 거예요?

[136 rows x 1 columns]

In [76]:
df.loc[0]

0    - - 봄 옷 안 들어와요?
Name: 0, dtype: object

In [78]:
df[(df[0].str.startswith('- -')) & (df[0].str.contains('할인'))]

                                       0
2                        - - 이거 할인 해주세요?
165   - - 이 제품은 할인 상품이기 때문에 현금으로 계산해 주세요
244           - - 적립되는 카드나 할인되는 카드가 있나요?
254        - - 이거는 지금 이 가격에서 할인이 되는 거예요?
322                        - - 이거는 할인해요?
...                                  ...
5670                  - - 할인 코너는 따로 없어요?
5671               - - 할인 코너는 어느 쪽에 있나요?
5693                 - - 이거는 왜 할인하는 거예요?
5694               - - 이월 상품이라 할인하는 건가요?
5695              - - 신상품인 거 같은데 왜 할인해요?

[68 rows x 1 columns]

In [41]:
d = c.sort_index()

In [42]:
d

                                             0
0                              - - 봄 옷 안 들어와요?
16                              - - 이게 겨울옷인가요?
41                             - - 제가 카드밖에 없는데
42                              - 카드로 결제 해드릴게요
47                             - - 이거는 겨울옷이네요?
...                                        ...
5821  - - 옷을 이것저것 입어봤더니 너무 많아서 정리 좀 부탁드려도 될까요?
5825                     - - 옷에 문제 있으면 바꿔주시나요?
5826                 - - 옷에 문제가 있으면 연락드려도 되나요?
5827            - - 옷에 문제 있는 걸 발견하면 어떻게 해주시나요?
5856                     - - 옷 위에 한 번 입어봐도 되죠?

[834 rows x 1 columns]

In [116]:
data = open('D:/Workspace/Project_fashion/fashion2txt.txt','r',encoding='utf-8')

In [115]:
d=data.read()

In [ ]:
d

## 질문만 뽑아내기

In [8]:
df1 = df.loc[df[0].str.contains('- -')]

In [9]:
df1

                           0
0            - - 봄 옷 안 들어와요?
2            - - 이거 할인 해주세요?
4     - - 이런 거는 사이즈가 어떻게 돼요?
6               - - 66도 있어요?
8        - - 티는 여기 있는 게 다예요?
...                      ...
5864     - - 수선 끝나면 연락 부탁드려요
5865       - - 신상품은 언제 들어와요?
5866      - - 신상 아직 안 들어왔어요?
5867        - - 신상은 언제쯤 나와요?
5868      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [11]:
df1.to_excel('question.xlsx')

In [15]:
df2 = pd.read_csv("D:/Workspace/Project_fashion/question.csv", header = None, encoding = 'CP949')

In [20]:
df2.dropna(inplace = True)

In [24]:
df2.drop(df.columns[0], axis = 'columns')

                           1
1            - - 봄 옷 안 들어와요?
2            - - 이거 할인 해주세요?
3     - - 이런 거는 사이즈가 어떻게 돼요?
4               - - 66도 있어요?
5        - - 티는 여기 있는 게 다예요?
...                      ...
3127     - - 수선 끝나면 연락 부탁드려요
3128       - - 신상품은 언제 들어와요?
3129      - - 신상 아직 안 들어왔어요?
3130        - - 신상은 언제쯤 나와요?
3131      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [ ]:
df2.to_excel('question2.xlsx')

In [32]:
df3 = pd.read_csv("D:/Workspace/Project_fashion/question2.csv", header = None, encoding = 'CP949')

In [38]:
df3

                           0
0            - - 봄 옷 안 들어와요?
1            - - 이거 할인 해주세요?
2     - - 이런 거는 사이즈가 어떻게 돼요?
3               - - 66도 있어요?
4        - - 티는 여기 있는 게 다예요?
...                      ...
3126     - - 수선 끝나면 연락 부탁드려요
3127       - - 신상품은 언제 들어와요?
3128      - - 신상 아직 안 들어왔어요?
3129        - - 신상은 언제쯤 나와요?
3130      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [37]:
df3.to_csv('question3.csv',encoding='CP949')

In [ ]:
df3.