In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("D:/Workspace/Project_fashion/conv.csv", header = None, encoding = 'CP949')

In [3]:
df

                           0
0            - - 봄 옷 안 들어와요?
1                  - 내일 들어와요
2            - - 이거 할인 해주세요?
3          - 네 그 가격표에서 반값이에요
4     - - 이런 거는 사이즈가 어떻게 돼요?
...                      ...
5864     - - 수선 끝나면 연락 부탁드려요
5865       - - 신상품은 언제 들어와요?
5866      - - 신상 아직 안 들어왔어요?
5867        - - 신상은 언제쯤 나와요?
5868      - - 신제품 나오려면 멀었어요?

[5869 rows x 1 columns]

In [ ]:
dd

## 질문만 뽑아내기

In [8]:
df1 = df.loc[df[0].str.contains('- -')]

In [9]:
df1

                           0
0            - - 봄 옷 안 들어와요?
2            - - 이거 할인 해주세요?
4     - - 이런 거는 사이즈가 어떻게 돼요?
6               - - 66도 있어요?
8        - - 티는 여기 있는 게 다예요?
...                      ...
5864     - - 수선 끝나면 연락 부탁드려요
5865       - - 신상품은 언제 들어와요?
5866      - - 신상 아직 안 들어왔어요?
5867        - - 신상은 언제쯤 나와요?
5868      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [11]:
df1.to_excel('question.xlsx')

In [15]:
df2 = pd.read_csv("D:/Workspace/Project_fashion/question.csv", header = None, encoding = 'CP949')

In [20]:
df2.dropna(inplace = True)

In [24]:
df2.drop(df.columns[0], axis = 'columns')

                           1
1            - - 봄 옷 안 들어와요?
2            - - 이거 할인 해주세요?
3     - - 이런 거는 사이즈가 어떻게 돼요?
4               - - 66도 있어요?
5        - - 티는 여기 있는 게 다예요?
...                      ...
3127     - - 수선 끝나면 연락 부탁드려요
3128       - - 신상품은 언제 들어와요?
3129      - - 신상 아직 안 들어왔어요?
3130        - - 신상은 언제쯤 나와요?
3131      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [ ]:
df2.to_excel('question2.xlsx')

In [32]:
df3 = pd.read_csv("D:/Workspace/Project_fashion/question2.csv", header = None, encoding = 'CP949')

In [38]:
df3

                           0
0            - - 봄 옷 안 들어와요?
1            - - 이거 할인 해주세요?
2     - - 이런 거는 사이즈가 어떻게 돼요?
3               - - 66도 있어요?
4        - - 티는 여기 있는 게 다예요?
...                      ...
3126     - - 수선 끝나면 연락 부탁드려요
3127       - - 신상품은 언제 들어와요?
3128      - - 신상 아직 안 들어왔어요?
3129        - - 신상은 언제쯤 나와요?
3130      - - 신제품 나오려면 멀었어요?

[3131 rows x 1 columns]

In [37]:
df3.to_csv('question3.csv',encoding='CP949')

In [ ]:
df3.