In [24]:
import pandas as pd

In [25]:
ck = pd.read_csv("C:/project/fashion/demo/data/raw/COLORKIND.csv", error_bad_lines=False, encoding = 'utf-8')
cs = pd.read_csv("C:/project/fashion/demo/data/raw/COLORSIZE.csv", error_bad_lines=False, encoding = 'utf-8')
ks = pd.read_csv("C:/project/fashion/demo/data/raw/KINDSIZE.csv", error_bad_lines=False, encoding = 'utf-8')
ps = pd.read_csv("C:/project/fashion/demo/data/raw/PAYSALE.csv", error_bad_lines=False, encoding = 'utf-8')

In [26]:
all_entity = pd.concat([ck,cs,ks,ps],ignore_index=True)

In [27]:
all_entity

                        question               label
0                티는 여기 있는 게 다예요?      S-KIND O O O O
1                   면바지 종류는 있어요?     B-KIND E-KIND O
2                조끼 한 번 입어봐도 돼요?      S-KIND O O O O
3               같은 걸로 다른 색도 있어요?     O O O S-COLOR O
4     패딩조끼 오래 입으려면 드라이 맡기는 게 좋죠?  S-KIND O O O O O O
...                          ...                 ...
3036                 3개월 할부 될까요?           O S-PAY O
3037               상품권 사용해도 될까요?           S-PAY O O
3038          온누리 상품권 사용할 수 있어요?       O S-PAY O O O
3039            온누리 상품권 드려도 되나요?         O S-PAY O O
3040                  포인트로 결제할게요             O S-PAY

[3041 rows x 2 columns]

In [28]:
all_entity = all_entity.drop_duplicates(['question','label'])

In [29]:
all_entity

                        question               label
0                티는 여기 있는 게 다예요?      S-KIND O O O O
1                   면바지 종류는 있어요?     B-KIND E-KIND O
2                조끼 한 번 입어봐도 돼요?      S-KIND O O O O
3               같은 걸로 다른 색도 있어요?     O O O S-COLOR O
4     패딩조끼 오래 입으려면 드라이 맡기는 게 좋죠?  S-KIND O O O O O O
...                          ...                 ...
3036                 3개월 할부 될까요?           O S-PAY O
3037               상품권 사용해도 될까요?           S-PAY O O
3038          온누리 상품권 사용할 수 있어요?       O S-PAY O O O
3039            온누리 상품권 드려도 되나요?         O S-PAY O O
3040                  포인트로 결제할게요             O S-PAY

[1842 rows x 2 columns]

In [30]:
all_entity.to_csv('entity_data.csv',encoding="euc-kr")